/*
Theme Name: Flexible
Theme URI: http://www.elegantthemes.com/gallery/
Version: 1.9
Description: 2 Column theme from Elegant Themes
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
*/

/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }

blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }


/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

body { line-height: 20px; font-family: 'Open Sans', sans-serif; font-size: 13px; color: #676761; background-color: #f5f5ec; padding: 97px 0 35px; }

a { text-decoration: none; color: #00b7f3; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; color: #676761; letter-spacing: -1px; line-height: 1em; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #676761; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 24px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
	blockquote p { padding-bottom: 0px; }

input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

img#about-image { float: left; margin: 3px 8px 8px 0px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

#container { text-align: left; margin: 0 auto; width: 960px; position: relative; }
	#logo-area { float: left; margin-bottom: 21px; }
		#logo { float: left; font-weight: bold; font-size: 34px; text-transform: uppercase; padding-right: 17px; }
			#logo a { color: #676761; text-decoration: none; }
		#logo-area h2 { float: left; font-weight: normal; text-transform: uppercase; font-size: 14px; padding: 16px 0 0; letter-spacing: 0; }
	#top-menu { float: right; padding-top: 14px; }
		#top-menu li { padding-left: 17px; float:left; font-weight: bold; text-transform: uppercase; }
			#top-menu a { font-size: 14px; color: #676761; text-decoration: none; }
			#top-menu a:hover { color: #202020;}
			#top-menu > ul > li.current-menu-item > a { font-weight: lighter; }
	#phone { position: absolute; right: 0; top: -16px; font-style: italic; }
	#main-area { margin-bottom: 17px; background-color: #fff; -webkit-box-shadow: 0px 0 4px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0 4px rgba(0, 0, 0, 0.1); box-shadow: 0px 0 4px rgba(0, 0, 0, 0.1); }
		#featured { margin-bottom:75px; position: relative; }
			#left-arrow, #right-arrow { position: absolute; text-indent: -9999px; top: 50%; margin-top: -18px; width: 28px; height: 37px; display: block; }
			#left-arrow { left: 65px; background:url(images/left-arrow.png) no-repeat; }
			#right-arrow { right: 65px; background:url(images/right-arrow.png) no-repeat; }
		#quote { padding: 0 20px; text-align: center; margin-bottom: 50px; font-weight: lighter; }
			#quote h2 { font-size: 30px; color: #676761; font-weight: lighter; padding-bottom: 8px; }
			#quote p { font-size: 15px; text-transform: uppercase; }
		#portfolio { margin-bottom: 90px; }
			.section-title { float: left; padding: 0 15px 20px 20px; text-transform: uppercase; font-weight: bold; font-size: 30px; color: #676761; }
			.section-tagline { float: left; font-weight: normal; font-size: 14px; text-transform: uppercase; padding-top: 11px; }
			a.more, .comment-reply-link { float: right; font-weight: normal; font-size: 14px; text-transform: uppercase; padding-top: 11px; padding-right: 20px; text-decoration: none; color: #676761; }
			a.more:hover, .comment-reply-link:hover { color: #202020;}
			#portfolio-grid { clear: both; }
				.portfolio-item { float: left; width: 240px; line-height: 0; }
			#blog-grid { clear: both; font-weight: lighter; }
				.blog-item { float: left; width: 196px; border-top: 1px solid #f0f0e5; border-right: 1px solid #f0f0e5; position: relative; padding: 44px 45px 41px 78px; }
				.last { border-right: none; }
					span.date { position: absolute; top: 0; left: 0; display: block; background-color: #f5f5ec; border-right: 1px solid #eaeadd; border-bottom: 1px solid #eaeadd; width: 48px; height: 45px; text-align: center; font-size: 11px; text-transform: uppercase; padding-top: 3px; }
						span.date strong { display: block; font-size: 22px; font-weight: bold; margin-top: -3px; color: #676761; }
					.blog-item h2 { text-transform: uppercase; font-weight: bold; font-size: 18px; padding-bottom: 5px; }
						.blog-item a { text-decoration: none; color: #676761; }
						.blog-item a:hover { color: #484844; }
					.meta-info { font-style: italic; font-size: 12px; color: #c0c0b5; padding-bottom: 7px; }
						.meta-info a { color: #c0c0b5; text-decoration: none; }
						.meta-info a:hover { color: #9e9e97; }
					.blog-item p { line-height: 20px; }

		#breadcrumbs { font-size: 14px; text-transform: uppercase; padding: 21px 0 21px 20px; border-bottom: 1px solid #f0f0e5; }
			#breadcrumbs a { font-weight: bold; color: #676761; text-decoration: none; }
		#content-area { position: relative; padding-bottom: 10px; }
		body.home #content-area { border-top: 1px solid #f0f0e5; }
		#content-area:before { content: ''; position: absolute; height: 100%; top: 0; left: 640px; border-right: 1px solid #f0f0e5; }
		body.tax-project_category #content-area:before, #content-area.fullwidth:before { display: none; }
			#left-area { width: 640px; float:left; }
				.entry { border-bottom: 1px solid #f0f0e5; }
				body.single .entry, body.page .entry { border: none; }
					.entry .title, .page_title, #reply-title { font-weight: bold; font-size: 30px; padding: 20px 0 20px 20px; text-transform: uppercase; }
						.title a, .page_title, #reply-title { color: #676761; text-decoration: none; }
						.title a:hover { color: #000; }
					.post-content { padding: 37px 50px 45px; }
						.entry .meta-info { padding-bottom: 4px; font-size: 14px; }
						.post-content p { font-size: 14px; font-weight: normal; }
						.readmore { font-weight: bold; text-transform: uppercase; font-size: 14px; color: #676761; display: block; text-align: right; }
						.readmore:hover { text-decoration: none; color: #111; }
			#sidebar { width: 320px; float:left; }
				.widget { padding: 50px 10px 8px 50px; }
					.widgettitle { font-weight: bold; text-transform: uppercase; font-size: 14px; color: #676761; padding-bottom: 13px; }
						.widget li { background:url(images/footer-bullet.png) no-repeat 0 8px; padding-bottom: 7px; padding-left: 15px; font-weight: normal; font-size: 14px; }
							.widget a { color:#676761; text-shadow:none; text-decoration: none; }
								.widget a:hover { color:#2f2f2f; }

#et_ajax_portfolio_container { clear: both; border-top: 1px solid #f0f0e5; position: relative; }
.et_ajax_container_active { min-height: 479px; }
	.et_media, .et_media_description { float: left; }
	.et_media { width: 600px; margin: -1px 40px 0 0; }
		.et_media img { display: block; }
	.et_media_description  { width: 284px; padding-top: 65px; }
		#et_ajax_portfolio_container .title { font-size: 14px; text-transform: uppercase; font-weight: bold; letter-spacing: 0; padding-bottom: 13px; }
	#et_ajax_portfolio_container .slide { height: 480px; }
	#et_ajax_portfolio_container a.more { font-weight: bold; padding-right: 0; margin-top: 30px; position: absolute; bottom: 30px; right: 30px; }
	.et_ajax_container_active #et_close_ajax { background: url(images/portfolio_close.png) no-repeat; display: block; position: absolute; top: 40px; right: 40px; width: 10px; height: 11px; text-indent: -9999px; z-index: 20; }

.post ul, .comment-content ul, .et_media_description ul { list-style-type: disc; padding: 0 0 23px 16px; line-height: 26px; }
	.post ol, .comment-content ol, .et_media_description ol { list-style-type: decimal; list-style-position: inside; padding: 0 0 23px 16px; line-height: 26px; }
		.post ul li ul, .post ul li ol, .comment-content ul li ul, .comment-content ul li ol, .et_media_description ul li ul, .et_media_description ul li ol { padding: 2px 0px 2px 20px; }
		.post ol li ul, .post ol li ol, .comment-content ol li ul, .comment-content ol li ol, .et_media_description ol li ul, .et_media_description ol li ol  { padding: 2px 0px 2px 35px; }

body.single-project .flexslider { min-height: 485px; }
.single_project_image { z-index: 100; }

.fullwidth #left-area { width: auto; float: none; }
#et_portfolio_sort_links { text-align: center; border-top: 1px solid #F0F0E5; padding: 14px 0; clear: both; }
	#et_portfolio_sort_links li { display: inline; margin: 0 8px; }
		#et_portfolio_sort_links a, #et_portfolio_sort_links .active a:hover { color: #676761; font-size: 14px; text-transform: uppercase; }
		#et_portfolio_sort_links a:hover { text-decoration: none; color: #111; }
		#et_portfolio_sort_links .active a { font-weight: bold; }

#left-area ol, #left-area ul { list-style: inside; }

/*------------------------------------------------*/
/*--------------[FEATURED SLIDER]-----------------*/
/*------------------------------------------------*/

/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
img { max-width: 100%; height: auto; width: auto; }
.flexslider  img { display: block; width: auto; }

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 96%; padding: 2%; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

.flex-direction-nav a { position: absolute; text-indent: -9999px; top: 50%; margin-top: -18px; width: 28px; height: 37px; display: block; }
.flex-direction-nav .flex-prev { background: url(images/left-arrow.png) no-repeat; left: 65px; }
.flex-direction-nav .flex-next { background: url(images/right-arrow.png) no-repeat; right: 65px; }

/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/

#comments, #reply-title { border-bottom: 1px solid #f0f0e5; padding-top: 0; padding-bottom: 15px; }
#reply-title { padding-top: 22px; }
	#reply-title small { display: block; font-size: 14px; letter-spacing: 0; }
.commentlist { padding: 25px 50px 0 52px; }
	.comment-body { position: relative; padding-left: 83px; margin: 20px 0; }
		.avatar  { position: absolute; top: 0; left: 0; }
		.fn, .fn a { color: #676761; font-size: 14px; font-weight: bold; text-transform: uppercase; }
		.fn a:hover { color: #111; text-decoration: none; }
		.comment_date, .comment-edit-link { color: #c0c0b5; font-style: italic; }
		.comment_date { margin-left: 3px; }
		.comment-content { padding-top: 2px; }
		.reply-container { text-align: right; }
		.comment-reply-link { padding: 0; float: none; font-weight: bold; }
		.comment-reply-link:hover { text-decoration: none; color: #111; }
		.children { padding-left: 83px; }
#commentform { padding: 40px 48px 20px; }
.form-submit { text-align: right; }
#commentform textarea, #commentform input { background: #fafaf5; border: 1px solid #f0f0e5; padding: 12px; color: #676761; font-size: 14px; width: 48%; }
#commentform textarea { width: 92%; }

#commentform #submit { font-size: 14px; color: #676761; font-weight: bold; text-transform: uppercase; background: none; border: none; padding: 0; margin: 0; width: auto; }

.comment #commentform { padding-right: 0; padding-left: 0; }
.comment #reply-title { padding-left: 0; }

/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/

#copyright { font-size:13px; float:right; }
	#copyright a { color:#676761; font-weight: bold;  }



/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/


/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

.aligncenter, .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin-bottom: 10px; max-width: 96%; padding: 8px; }

.wp-caption.alignleft { margin: 0px 10px 10px 0px; }
.wp-caption.alignright { margin: 0px 0px 10px 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption .wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.alignright { float: right; }
.alignleft { float: left }
img.alignleft { display:inline; float:left; margin-right:15px; }
img.alignright { display:inline; float:right; margin-left:15px; }


/*------------------------------------------------*/
/*---------------[DEFAULT DROPDOWN SETTINGS]---*/
/*------------------------------------------------*/

.nav ul { position:absolute; top:-999em; background-position: bottom; background-repeat: no-repeat; z-index: 10; background: #fff; -moz-box-shadow: 0 0 3px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1); box-shadow: 0 0 3px rgba(0,0,0,0.1); }
.nav li { float:left; position:relative; }
.nav a { display:block; float: left; }
	.nav li:hover ul, ul.nav li.sfHover ul { left:-20px; top:30px; }
	.nav li:hover li ul, .nav li.sfHover li ul { top:-999em; }
		.nav li li:hover ul, ul.nav li li.sfHover ul { left:220px; top:-10px; }
	.nav li:hover ul, .nav li li:hover ul { top: -999em; }
	.nav li li { display: block; padding: 8px 0; float: left; height: auto !important; }
	.nav li ul { z-index:1000; padding: 10px 0 10px 22px; width: 220px; }
		.nav li li a:link, .nav li li a:visited { display: block; height: auto; float: left; }
		.nav li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }
	.nav ul a { width: 200px; }

/*------------------------------------------------*/
/*-----------------[WP CALENDAR]-----------------*/
/*------------------------------------------------*/
#wp-calendar { empty-cells: show; margin: 10px auto 0; width: 240px;	}
	#wp-calendar a { display: block; text-decoration: none; font-weight: bold; }
		#wp-calendar a:hover { text-decoration: underline; }
	#wp-calendar caption {	text-decoration: none; font: bold 13px Arial, Sans-Serif; }
	#wp-calendar td {	padding: 3px 5px; color: #9f9f9f; }
		td#today { color: #ffffff; }
	#wp-calendar th {	font-style: normal;	text-transform: capitalize;	padding: 3px 5px; }
		#wp-calendar #prev a, #wp-calendar #next a { font-size: 9pt; }
		#wp-calendar #next a { padding-right: 10px; text-align: right; }
		#wp-calendar #prev a { padding-left: 10px; text-align: left; }

/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/
.pagination { overflow: hidden; padding: 15px 12px 0px; }

.wp-pagenavi { position: relative; text-align: right; clear: both; padding: 30px 40px 30px 10px; color: #676761; font-weight: bold; }
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited { padding: 5px !important; margin: 2px 0; text-decoration: none; border: none !important; color: #aeaeac; font-weight: normal !important; font-size: 24px; }
.wp-pagenavi span.pages { padding: 5px !important; margin: 2px 7px 2px 2px !important; text-transform: uppercase; font-size: 12px; border: none; }
.wp-pagenavi span.current, .wp-pagenavi span.extend, .wp-pagenavi a:active, .wp-pagenavi a:hover { padding: 5px !important; margin: 2px 0; font-size: 24px; border: none; color: #676761; }

body.tax-project_category .wp-pagenavi { border-top: 1px solid #F0F0E5; padding: 30px; }

.foursixeight { margin: 0px 0px 15px 84px;}

#mobile_nav, #mobile_menu { display: none; }
#mobile_menu { border: 1px solid #DFDFCE; border-width: 1px 0; background: #EFEFE3; z-index: 10; position: absolute; top: 44px; left: 0px; width: 440px; padding: 7px 0; }

.et_pt_gallery_entry { margin-left: 10px !important; }
.et_embedded_videos { display: none !important; }

#et_pt_portfolio_gallery { margin-left: -37px !important; }
	.et_pt_portfolio_item { margin-left: 27px !important; }
#et_pt_portfolio_gallery.et_portfolio_large { margin-right: -37px; margin-left: -55px !important; }


#et-control-panel { position: fixed; left: 0px; top: 94px; width: 169px; z-index: 9000; color: #9f9f9f; text-shadow: 1px 1px 1px #fff; background: url(images/control_panel/control-panel-bottom.png) no-repeat bottom left; padding-bottom: 18px; }
	#control-panel-main { background: url(images/control_panel/control-panel-mainbg.png) repeat-y; -moz-border-radius-topright: 14px; -webkit-border-top-right-radius: 14px; border-top-right-radius: 14px; }
		#et-control-close { background: url(images/control_panel/control-panel-closebutton.png) no-repeat; position: absolute; top: 17px; right: -41px; width: 45px; height: 40px; display: block; }
		.control-open { background: url(images/control_panel/control-panel-openbutton.png) no-repeat !important; }
		#et-control-inner { background: url(images/control_panel/control-inner.png) no-repeat; padding: 16px 16px 0px 16px; }
			#et-control-panel h3.control_title { font-size: 15px; padding: 2px 0 10px; float: left; }
			#et-control-panel p { font-style: italic; font-family: Georgia, serif; font-size: 10px; }
			.et-sample-setting { display: block; width: 29px; height: 29px; position: relative; float: left; margin: 0 4px 4px 0; text-indent: -9999px; }
				.et-sample-setting span.et-sample-overlay { background: url(images/control_panel/control-link-overlay.png) no-repeat; display: block; position: absolute; top: 0; left: 0; width: 30px; height: 30px; }
			#et-sample-color1 { background: #6a8e94; }
			#et-sample-color2 { background: #8da49c; }
			#et-sample-color3 { background: #b0b083; }
			#et-sample-color4 { background: #859a7c; }
			#et-sample-color5 { background: #c6bea6; }
			#et-sample-color6 { background: #b08383; }
			#et-sample-color7 { background: #a4869d; }
			#et-sample-color8 { background: #f5f5f5; }
			#et-sample-color9 { background: #4e4e4e; }
			#et-sample-color10 { background: #556f6a; }
			#et-sample-color11 { background: #6f5555; }
			#et-sample-color12 { background: #6f6755; }

			#et-sample-texture1 { background: url(images/control_panel/body-bg2.png) 14px 13px; }
			#et-sample-texture2 { background: url(images/control_panel/body-bg3.png); }
			#et-sample-texture3 { background: url(images/control_panel/body-bg4.png); }
			#et-sample-texture4 { background: url(images/control_panel/body-bg5.png); }
			#et-sample-texture5 { background: url(images/control_panel/body-bg6.png); }
			#et-sample-texture6 { background: url(images/control_panel/body-bg7.png); }
			#et-sample-texture7 { background: url(images/control_panel/body-bg8.png); }
			#et-sample-texture8 { background: url(images/control_panel/body-bg9.png); }
			#et-sample-texture9 { background: url(images/control_panel/body-bg10.png); }
			#et-sample-texture10 { background: url(images/control_panel/body-bg11.png) 139px 104px; }
			#et-sample-texture11 { background: url(images/control_panel/body-bg12.png); }
			#et-sample-texture12 { background: url(images/control_panel/body-bg13.png) 14px 14px; }
			#et-sample-texture13 { background: url(images/control_panel/body-bg14.png); }
			#et-sample-texture14 { background: url(images/control_panel/body-bg15.png); }
			#et-sample-texture15 { background: url(images/control_panel/body-bg16.png); }
			#et-sample-texture16 { background: url(images/control_panel/body-bg17.png); }

			.et-control-colorpicker { background: url(images/control_panel/control-panel-colorpicker.png) no-repeat; width: 18px; height: 19px; display: block; float: right; }
			.et-font-control { margin-top: 9px; }
			.colorpicker { z-index: 10000; }

#et_control_header_font, #et_control_body_font { width: 73px; }

.colorpicker { width: 356px; height: 176px; overflow: hidden; position: absolute; background: url(images/colorpicker/colorpicker_background.png); font-family: Arial, Helvetica, sans-serif; display: none; }
.colorpicker_color { width: 150px; height: 150px; left: 14px; top: 13px; position: absolute; background: #f00; overflow: hidden; cursor: crosshair; }
	.colorpicker_color div { position: absolute; top: 0; left: 0; width: 150px; height: 150px; background: url(images/colorpicker/colorpicker_overlay.png); }
		.colorpicker_color div div { position: absolute; top: 0; left: 0; width: 11px; height: 11px; overflow: hidden; background: url(images/colorpicker/colorpicker_select.gif); margin: -5px 0 0 -5px; }
.colorpicker_hue { position: absolute; top: 13px; left: 171px; width: 35px; height: 150px; cursor: n-resize; }
	.colorpicker_hue div { position: absolute; width: 35px; height: 9px; overflow: hidden; background: url(images/colorpicker/colorpicker_indic.gif) left top; margin: -4px 0 0 0; left: 0px; }
.colorpicker_new_color { position: absolute; width: 60px; height: 30px; left: 213px; top: 13px; background: #f00; }
.colorpicker_current_color { position: absolute; width: 60px; height: 30px; left: 283px; top: 13px; background: #f00; }
.colorpicker input { background-color: transparent; border: 1px solid transparent; position: absolute; font-size: 10px; font-family: Arial, Helvetica, sans-serif; color: #898989; top: 4px; right: 11px; text-align: right; margin: 0; padding: 0; height: 11px; }
.colorpicker_hex { position: absolute; width: 72px; height: 22px; background: url(images/colorpicker/colorpicker_hex.png) top; left: 212px; top: 142px; }
	.colorpicker_hex input { right: 6px; }
.colorpicker_field { height: 22px; width: 62px; background-position: top; position: absolute; }
	.colorpicker_field span { position: absolute; width: 12px; height: 22px; overflow: hidden; top: 0; right: 0; cursor: n-resize; }
.colorpicker_rgb_r { background-image: url(images/colorpicker/colorpicker_rgb_r.png); top: 52px; left: 212px; }
.colorpicker_rgb_g { background-image: url(images/colorpicker/colorpicker_rgb_g.png); top: 82px; left: 212px; }
.colorpicker_rgb_b { background-image: url(images/colorpicker/colorpicker_rgb_b.png); top: 112px; left: 212px; }
.colorpicker_hsb_h { background-image: url(images/colorpicker/colorpicker_hsb_h.png); top: 52px; left: 282px; }
.colorpicker_hsb_s { background-image: url(images/colorpicker/colorpicker_hsb_s.png); top: 82px; left: 282px; }
.colorpicker_hsb_b { background-image: url(images/colorpicker/colorpicker_hsb_b.png); top: 112px; left: 282px; }
.colorpicker_submit { position: absolute; width: 22px; height: 22px; background: url(images/colorpicker/colorpicker_submit.png) top; left: 322px; top: 142px; overflow: hidden; }
.colorpicker_focus { background-position: center; }
.colorpicker_hex.colorpicker_focus { background-position: bottom; }
.colorpicker_submit.colorpicker_focus { background-position: bottom; }
.colorpicker_slider { background-position: bottom; }

#control-panel-main label { font-size: 11px; }

@media only screen and ( max-width: 960px ) {
	#et-search, p#et-search-title, p#et-search-title span { background: none !important; }
	#et-search { width: auto !important; height: auto !important; }
		#et-search-inner { padding: 0 !important; }
			#et-search-right { float: none !important; clear: both; text-align: left !important; }
				#et_search_submit { background: #BBB8B8 !important; color: #111 !important; }
			p#et-search-title { margin-bottom: 2px !important; }
				p#et-search-title span { padding: 0 !important; text-shadow: none !important; }
	#et-searchinput { width: auto !important; }
	p#et_choose_posts, p#et_choose_pages, p#et_choose_date, p#et_choose_cat { float: none !important; }
	#et-search-left { float: none !important; width: 100% !important; }
}

@media only screen and ( min-width: 768px ) and ( max-width: 960px ) {
	#container { width: 728px; }
	#logo-area h2 { display: none; }
	#quote h2 { font-size: 26px; }
	#quote p { font-size: 12px; }
	.portfolio-item { width: 182px; }
	.blog-item { width: 119px; }

	.et_media { width: 460px; }
	.et_media_description { width: 195px; height: 248px; overflow: hidden; }

	.et_ajax_container_active { min-height: 367px; }

	#left-area { width: 473px; }
	#content-area:before { left: 473px; }
	#sidebar { width: 255px; }
	.depth-4 .children { padding-left: 0; }

	#et_contact_right { width: auto !important; margin-left: 0 !important; float: none !important; clear: both; }
	#et_pt_gallery { margin-right: -10px !important; }

	#et_pt_portfolio_gallery { margin-left: -58px !important; margin-right: -57px !important; }
		.et_pt_portfolio_item { margin-left: 21px !important; width: 219px !important; }
		.et_portfolio_more_icon, .et_portfolio_zoom_icon { top: 50px !important; }
		.et_portfolio_more_icon { left: 65px !important; }
		.et_portfolio_zoom_icon { left: 106px !important; }

	#et_pt_portfolio_gallery.et_portfolio_small { margin-left: -18px !important; }
		#et_pt_portfolio_gallery.et_portfolio_small .et_pt_portfolio_item { margin-left: 10px !important; width: 128px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_zoom_icon { top: 20px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_more_icon { left: 26px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_zoom_icon { left: 62px !important; }

	#et_pt_portfolio_gallery.et_portfolio_large { margin-left: -20px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 7px !important; width: 348px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 99px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 140px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 178px !important; }

	#et_pt_portfolio_gallery.et_portfolio_small { margin-left: -39px !important; }

	#et_pt_portfolio_gallery.et_portfolio_large { margin-left: -43px !important; }

	#et_ajax_portfolio_container .slide { height: 368px; }

	#et_ajax_portfolio_container a.more { bottom: 19px; }

	body.single-project .flexslider { min-height: 364px; }
}

@media only screen and ( max-width: 767px ) {
	#container { width: 440px; }
	#logo-area { float: none; text-align: center; }
		#logo { float: none; padding-right: 0; }
		#logo-area h2, #top-menu, #phone, .et_media_description, #sidebar, #content-area:before { display: none; }
	#mobile_nav { position: relative; display: block; text-align: center; color: #676761; font-size: 14px; text-transform: uppercase; font-weight: lighter; padding: 12px 5px; background: #fffefe; /* Old browsers */
background: -moz-linear-gradient(top,  #fffefe 0%, #f6f6ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffefe), color-stop(100%,#f6f6ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fffefe 0%,#f6f6ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fffefe 0%,#f6f6ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fffefe 0%,#f6f6ee 100%); /* IE10+ */
background: linear-gradient(top,  #fffefe 0%,#f6f6ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffefe', endColorstr='#f6f6ee',GradientType=0 ); /* IE6-9 */
 }
	#mobile_nav:hover { text-decoration: none; color: #111; }
		#mobile_menu a { color: #676761; }
		#mobile_menu a:hover { text-decoration: none; color: #111; }
		#mobile_menu li { margin: 9px 0; }
		#mobile_menu ul { display: block !important; visibility: visible !important; }

	#quote h2 { font-size: 26px; }
	.portfolio-item { width: 220px; }
	.blog-item { width: 119px; padding: 44px 35px 41px 65px; }
	.blog-item.last { border-right: 1px solid #F0F0E5; }
	#mobile_nav > span { display: block; width: 14px; height: 9px; background: url(images/menu_arrow.png) no-repeat; position: absolute; top: 18px; left: 134px; -moz-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
	#mobile_nav.opened > span { -moz-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -o-transform: rotate(-180deg); transform: rotate(-180deg); }

	.et_media { width: 440px; float: none; margin: 0; }
	.et_ajax_container_active { min-height: 352px; }

	#left-area { width: auto; float: none; }

	.wp-pagenavi { text-align: center; padding-left: 0; padding-right: 0; }
	.depth-4 .children { padding-left: 0; }

	#et_contact_right { width: auto !important; margin-left: 0 !important; float: none !important; clear: both; }

	#et_pt_gallery { margin-left: 50px !important; }

	.sitemap-col { float: none !important; width: auto !important; }

	#et_pt_portfolio_gallery { margin-left: -60px !important; }

	.et_portfolio_small .et_pt_portfolio_item { width: 412px !important; margin-bottom: 10px; }
		.et_portfolio_small .et_pt_portfolio_entry { float: left; margin-right: 15px; }
		.et_portfolio_small .et_portfolio_more_icon, .et_portfolio_small .et_portfolio_zoom_icon { top: 30px !important; }
		.et_portfolio_small .et_portfolio_more_icon { left: 38px !important; }
		.et_portfolio_small .et_portfolio_zoom_icon { left: 77px !important; }

	#et_pt_portfolio_gallery.et_portfolio_large { margin-left: -32px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 0 !important; width: 404px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 109px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 155px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 195px !important; }

	#et_ajax_portfolio_container .slide { height: 352px; }

	#et_ajax_portfolio_container a.more { color: #fff; bottom: 42px; }

	body.single-project .flexslider { min-height: 220px; }
}

@media only screen and ( max-width: 479px ) {
	#container, #mobile_menu { width: 280px; }
	#mobile_nav > span { left: 58px; }
	#portfolio .more, #blog .more { display: none; }
	.portfolio-item { width: 140px; }
	.blog-item { border-right: none; width: 180px; padding: 22px 35px 17px 65px; }
	#featured { margin-bottom: 29px; }
	#quote { margin-bottom: 24px; }
	.et_media { width: 280px; }
	.et_ajax_container_active { min-height: 224px; }
	.entry .title, .page_title, #reply-title { font-size: 24px; }
	.children { padding-left: 0; }

	#et_pt_gallery { margin-left: -25px !important; }
	p.et-registration { margin-top: 35px !important; }
	.et-protected-form { padding: 0 !important; background: none !important; }
	.et-protected { width: auto !important; }

	#et_pt_portfolio_gallery { margin-left: -75px !important; }

	.entry .et_portfolio_small .et_pt_portfolio_item { width: 255px !important; margin-left: 42px !important; }

	.et_portfolio_small .et_pt_portfolio_item { margin-left: -15px !important; width: 254px !important; }

	#et_pt_portfolio_gallery, #et_pt_portfolio_gallery.et_portfolio_large { margin-left: -27px !important; }
		.et_pt_portfolio_item, #et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 0 !important; width: 228px !important; }
			.et_portfolio_more_icon, .et_portfolio_zoom_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 53px !important; }
			.et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 70px !important; }
			.et_portfolio_zoom_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 110px !important; }

	#et_ajax_portfolio_container .slide { height: 224px; }

	#portfolio .et_ajax_project .more { display: block; }

	body.single-project .flexslider { min-height: 140px; }
}